* {box-sizing: border-box;}
body {padding: 0;margin: 0;font-family: Verdana, Geneva, Tahoma, sans-serif;background-color: rgba(0, 0, 0, 0.1);width: 100vw;height: 100vh;}

/* Root */
.fleft {float: left;}
.clr {clear: both;}

/* Container */
#box-container {box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);width: 500px;border-radius: 15px;position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);overflow: hidden;background-color: #fff}

/* Photo */
.photo {width: 150px;padding-bottom: 150px;background-color: red;overflow: hidden;position: relative;}
.photo img {position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);object-fit: cover;width: 100%;height: 100%;}
.paragraph {max-width: 300px;padding: 0px 20px}
.paragraph h1, .paragraph h2, .paragraph p {line-height: 1.6em}
.paragraph h1 {font-size: 20px;margin: 10px 0}
.paragraph h2 {font-size: 16px;color: #888;margin-bottom: 0}
.paragraph p {font-size: 15px;color: #333;margin-top: 0}

#portfolio, #close {border: 0px;background-color: rgba(0, 0, 0, 0.1);padding: 7px 15px;border-radius: 5px;transition: background-color ease .5s;cursor: pointer}
#portfolio:hover, #close:hover {background-color: rgba(0, 0, 0, 0.2)}

.shadow {width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);position: fixed;z-index: 2;display: none}

#panel {width: 600px;position: fixed;right: -600px;overflow: auto;background-color: #fff;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);height: 100%;z-index: 3;}
#panel img {max-width: 100%;}
#panel ul {margin: 0;padding: 0;list-style-type: none;overflow: auto;}
#panel ul li {padding: 25px}
#panel ul li h3 {margin: 0 0 20px}